<div class="text-center w-50 m-auto p-2">
    <div class="card">
        <h2>Post Id => <span class="text-danger">{{allComments.postId}}</span></h2>
        <label>
        </label>
        <label>
            <span class="text-danger">id</span> {{allData.id}}
        </label>
        <label>
            <span class="text-danger">title</span> {{allData.title}}
        </label>
        <label>
            <span class="text-danger">body</span> {{allData.body}}
        </label>
    </div>
</div>


<div class="text-center w-50 m-auto p-2">
    <div class="card">
        <h2>All Comments</h2>
        <label>
            <p>
                <span class="badge badge-warning">Post Id</span>
                <span class="d-block">{{allComments.postId}}</span>
            </p>
        </label>
        <label>
            <p>
                <span class="badge badge-success">id</span>
                <span class="d-block">{{allComments.id}}</span>
            </p>
        </label>
        <label>

            <p>
                <span class="badge badge-danger">Name</span>
                <span class="d-block">{{allComments.name}}</span>
            </p>
        </label>
        <label>

            <p>
                <span class="badge badge-info">E-mail</span>
                <span class="d-block">{{allComments.email}}</span>
            </p>
        </label>
        <label>
            <p>
                <span class="badge badge-dark">Body</span>
                <span class="d-block"> {{allComments.body}}</span>
            </p>
        </label>
    </div>
</div>
