/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f7f7f7;
}
.form-login form {
    background-color: #fff;
    padding: 10px;
    margin: 100px auto 0;
    text-align: left;
    width: 50%;
}
.form-login form label{
    display: block
}

label , p{
    margin: 0
}